@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SVN-Magnificent";
  src: url("./assets/fonts/SVN-Magnificent.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
